
@media (max-width: 640px) {

    body {
        overflow: scroll;
    }
    
    .container_principal {
        margin: 0 auto;
    }
    .img_plano_de_fundo {
        display: none;
    }
    .lista_links div {
        display: flex;
        height: 85px;
        background-color: #0B3836;
        border-bottom: 1px solid #dadada;
    }
}

@media (max-width: 450px) {

    .faixa_bem_vindos {
        background-color: #072423;
        width: 100%;
        height: 160px;
    }
    
    .text_align {
        margin: auto;
    }
    .titulo_faixa {
        color: #ffffff;
        font-size: 24px;
        padding: 20px;
        font-weight: 200;
        margin: 10px auto 0 auto;
    }

    .subtitulo_faixa {
        padding: 20px;
    }
}

